## Today we are going to test your knowledge in SQL. Please refer to  http://www.w3schools.com/sql/ for any questions you might have over the material. Each question must be solved in only ONE SQL statement. No pandas or numpy operations may be used!
### These questions get progressively more difficult. Look through the website above and stackoverflow for hints on solving the more challenging problems. 
### Unfortunately, Brad will only be able to give help on questions with difficulty 7 and higher. He apologizes for the inconvenience.

#### First create a connection to your postgresql database here

In [ ]:
## Some of these questions asked to print the full query. 
## I have written the query as so, but shorted in the print so minimize scrolling

In [1]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgres://mfnyeqfz:zxzi25vFYOiloQ8ORKUo2-Oog5GgfZc2@elmer.db.elephantsql.com:5432/mfnyeqfz')
pd.read_sql("SELECT * FROM information_schema.tables;", engine)[:3]

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,mfnyeqfz,public,pg_stat_statements,VIEW,None,None,None,None,None,NO,NO,None
1,mfnyeqfz,public,trump_tweets,BASE TABLE,None,None,None,None,None,YES,NO,None
2,mfnyeqfz,public,website_imdb,BASE TABLE,None,None,None,None,None,YES,NO,None

#### Let's use the "website_imdb" table for our queries

## Difficulty => 1

### Print out all the drama movies

In [2]:
pd.read_sql("SELECT * FROM website_imdb WHERE genre = 'Drama'", engine)[:3]

,id,title,poster,plot,genre,year,imdbRating,created,imdbID,awards,...,director,gross,imdbVotes,language,rated,released,response,runtime,type,writer
0,2740,Good Will Hunting,http://ia.media-imdb.com/images/M/MV5BMTk0NjY0...,"Will Hunting, a janitor at M.I.T., has a gift ...",Drama,1997,8.3,2016-11-13 22:22:15.411467+00:00,tt0119217,Won 2 Oscars. Another 20 wins & 53 nominations.,...,Gus Van Sant,138339411.0,609983,English,R,1998-01-09,True,126,movie,"Matt Damon, Ben Affleck"
1,2731,All About Eve,https://images-na.ssl-images-amazon.com/images...,An ingenue insinuates herself into the company...,Drama,1950,8.3,2016-11-13 22:22:15.409350+00:00,tt0042192,Won 6 Oscars. Another 16 wins & 17 nominations.,...,Joseph L. Mankiewicz,10177.0,84353,"English, French",APPROVED,1951-01-15,True,138,movie,Joseph L. Mankiewicz (written for the screen by)
2,2756,Fanny and Alexander,https://images-na.ssl-images-amazon.com/images...,Two young Swedish children experience the many...,Drama,1982,8.1,2016-11-13 22:22:15.415531+00:00,tt0083922,Won 4 Oscars. Another 19 wins & 10 nominations.,...,Ingmar Bergman,NaN,43998,"Swedish, German, Yiddish, English",R,1982-12-17,True,188,movie,Ingmar Bergman

### Print out all the movies with a director with 'C' or 'S' in their last names. Ignore any movies with multiple directors.

In [3]:
pd.read_sql("SELECT * FROM website_imdb WHERE (director LIKE '%% C%%' OR director LIKE '%% S%%') AND director NOT LIKE '%%,%%'", engine)

,id,title,poster,plot,genre,year,imdbRating,created,imdbID,awards,...,director,gross,imdbVotes,language,rated,released,response,runtime,type,writer
0,2740,Good Will Hunting,http://ia.media-imdb.com/images/M/MV5BMTk0NjY0...,"Will Hunting, a janitor at M.I.T., has a gift ...",Drama,1997,8.3,2016-11-13 22:22:15.411467+00:00,tt0119217,Won 2 Oscars. Another 20 wins & 53 nominations.,...,Gus Van Sant,138339411.0,609983,English,R,1998-01-09,True,126,movie,"Matt Damon, Ben Affleck"
1,2721,Whiplash,https://images-na.ssl-images-amazon.com/images...,A promising young drummer enrolls at a cut-thr...,"Drama, Music",2014,8.5,2016-11-13 22:22:15.406729+00:00,tt2582802,Won 3 Oscars. Another 87 wins & 131 nominations.,...,Damien Chazelle,13092000.0,413720,English,R,2014-10-15,True,107,movie,Damien Chazelle
2,2723,Raiders of the Lost Ark,https://images-na.ssl-images-amazon.com/images...,Archaeologist and adventurer Indiana Jones is ...,"Action, Adventure",1981,8.5,2016-11-13 22:22:15.407288+00:00,tt0082971,Won 4 Oscars. Another 30 wins & 23 nominations.,...,Steven Spielberg,242374454.0,671034,"English, German, Hebrew, Spanish, Arabic, Nepali",PG,1981-06-12,True,115,movie,"Lawrence Kasdan (screenplay), George Lucas (st..."
3,2728,The Wages of Fear,https://images-na.ssl-images-amazon.com/images...,"In a decrepit South American village, men are ...","Adventure, Drama, Thriller",1953,8.2,2016-11-13 22:22:15.408588+00:00,tt0046268,Won 1 BAFTA Film Award. Another 5 wins.,...,Henri-Georges Clouzot,NaN,35833,"French, English, Spanish, German, Italian, Rus...",NOT RATED,1955-02-16,True,131,movie,"Georges Arnaud (novel), Henri-Georges Clouzot ..."
4,2735,The Great Escape,https://images-na.ssl-images-amazon.com/images...,Allied P.O.W.s plan for several hundred of the...,"Adventure, Drama, History",1963,8.3,2016-11-13 22:22:15.410302+00:00,tt0057115,Nominated for 1 Oscar. Another 2 wins & 7 nomi...,...,John Sturges,NaN,167926,"English, German, French, Russian, Spanish",APPROVED,1963-07-04,True,172,movie,"Paul Brickhill (book), James Clavell (screenpl..."
5,2745,City Lights,https://images-na.ssl-images-amazon.com/images...,"With the aid of a wealthy erratic tippler, a d...","Comedy, Drama, Romance",1931,8.6,2016-11-13 22:22:15.412713+00:00,tt0021749,3 wins.,...,Charles Chaplin,NaN,111118,English,PASSED,1931-03-07,True,87,movie,Charles Chaplin
6,2753,It Happened One Night,https://images-na.ssl-images-amazon.com/images...,"A spoiled heiress, running away from her famil...","Comedy, Romance",1934,8.2,2016-11-13 22:22:15.414721+00:00,tt0025316,Won 5 Oscars. Another 5 wins & 1 nomination.,...,Frank Capra,NaN,65874,English,UNRATED,1934-02-23,True,105,movie,"Robert Riskin (screen play), Samuel Hopkins Ad..."
7,2757,The Terminator,https://images-na.ssl-images-amazon.com/images...,A human-looking indestructible cyborg is sent ...,"Action, Sci-Fi",1984,8.1,2016-11-13 22:22:15.415818+00:00,tt0088247,5 wins & 6 nominations.,...,James Cameron,38400000.0,608647,"English, Spanish",R,1984-10-26,True,107,movie,"James Cameron, Gale Anne Hurd, William Wisher ..."
8,2766,Raging Bull,https://images-na.ssl-images-amazon.com/images...,An emotionally self-destructive boxer's journe...,"Biography, Drama, Sport",1980,8.3,2016-11-13 22:22:15.418049+00:00,tt0081398,Won 2 Oscars. Another 22 wins & 24 nominations.,...,Martin Scorsese,45250.0,238964,English,R,1980-12-19,True,129,movie,"Jake LaMotta (based on the book by), Joseph Ca..."
9,2775,Andaz Apna Apna,https://images-na.ssl-images-amazon.com/images...,Two slackers competing for the affections of a...,"Comedy, Family, Romance",1994,8.7,2016-11-13 22:22:15.420554+00:00,tt0109117,4 nominations.,...,Rajkumar Santoshi,NaN,32255,Hindi,PG,1994-11-04,True,160,movie,"Rajkumar Santoshi (dialogue), Rajkumar Santosh..."
10,2780,Schindler's List,https://images-na.ssl-images-amazon.com/images...,"In German-occupied Poland during World War II,...","Biography, Drama, History",1993,8.9,2016-11-13 22:22:15.421784+00:00,tt0108052,Won 7 Oscars. Another 71 wins & 33 nominations.,...,Steven Spielberg,96067179.0,877500,"English, Hebrew, German, Polish",R,1994-02-04,True,195,movie,"Thomas Keneally (book), Steven Zaillian (scree..."
11,2788,The Departed,https://images-na.ssl-images-amazon.com/images...,An undercover cop and a mole in the police att...,"Crime, Drama, Thriller",2006,8.5,2016-11-13 22:22:15.423743+00:00,tt0407887,Won 4 Oscars. Another 90 wins & 123 nominations.,...,Martin Scorsese,132373442.0,885411,"English, Cantonese",R,2006-10-06,True,151,movie,"William Monahan (screenplay), Alan Mak, Felix ..."
12,2790,Shutter Island,https://images-na.ssl-images-amazon.com/images...,"In 1954, a U.S. marshal investigates the disap...","Mystery, Thriller",2010,8.1,2016-11-13 22:22:15.424258+00:00,tt1130884,8 wins & 59 nominations.,...,Martin Scorsese,127968405.0,805512,"English, German",R,2010-02-19,True,138,movie,"Laeta Kalogridis (screenplay), Dennis Lehane (..."
13,2793,The Usual Suspects,https://images-na.ssl-images-amazon.com/images...,A sole survivor tells of the twisty events lea...,"Crime, Drama, Mystery",1995,8.6,2016-11-13 22:22:15.424977+00:00,tt0114814,Won 2 Oscars. Another 32 wins & 16 nominations.,...,Bryan Singer,23272306.0,755193,"English, Hungarian, Spanish, French",R,1995-09-15,True,106,movie,Christopher McQuarrie
14,2796,The Gold Rush,https://images-na.ssl-images-amazon.com/images...,A prospector goes to the Klondike in search of...,"Adventure, Comedy, Drama",1925,8.2,2016-11-13 22:22:15.425830+00:00,tt0015864,Nominated for 2 Oscars. Another 3 wins & 1 nom...,...,Charles Chaplin,NaN,69196,English,NOT RATED,nan,True,95,movie,Charles Chaplin
15,2797,In the Name of the Father,https://images-na.ssl-images-amazon.com/images...,A man's coerced confession to an IRA bombing h...,"Biography, Drama",1993,8.1,2016-11-13 22:22:15.426108+00:00,tt0107207,Nominated for 7 Oscars. Another 7 wins & 21 no...,...,Jim Sheridan,25010410.0,112200,English,R,1994-02-25,True,133,movie,"Gerry Conlon (autobiographical book ""Proved In..."
16,2803,Diabolique,https://images-na.ssl-images-amazon.com/images...,The wife of a cruel headmaster and his mistres...,"Crime, Drama, Horror",1955,8.1,2016-11-13 22:22:15.427680+00:00,tt0046911,4 wins.,...,Henri-Georges Clouzot,NaN,42879,"French, English",UNRATED,1955-11-21,True,116,movie,"Pierre Boileau (novel), Thomas Narcejac (novel..."
17,2804,Gladiator,https://images-na.ssl-images-amazon.com/images...,When a Roman general is betrayed and his famil...,"Action, Adventure, Drama",2000,8.5,2016-11-13 22:22:15.427911+00:00,tt0172495,Won 5 Oscars. Another 53 wins & 101 nominations.,...,Ridley Scott,187670866.0,1000080,English,R,2000-05-05,True,155,movie,"David Franzoni (story), David Franzoni (screen..."
18,2808,The Wolf of Wall Street,https://images-na.ssl-images-amazon.com/images...,"Based on the true story of Jordan Belfort, fro...","Biography, Comedy, Crime",2013,8.2,2016-11-13 22:22:15.429045+00:00,tt0993846,Nominated for 5 Oscars. Another 36 wins & 155 ...,...,Martin Scorsese,116866727.0,804969,"English, French",R,2013-12-25,True,180,movie,"Terence Winter (screenplay), Jordan Belfort (b..."
19,2809,Alien,https://images-na.ssl-images-amazon.com/images...,After a space merchant vessel perceives an unk...,"Horror, Sci-Fi",1979,8.5,2016-11-13 22:22:15.429291+00:00,tt0078748,Won 1 Oscar. Another 16 wins & 19 nominations.,...,Ridley Scott,78900000.0,575751,"English, Spanish",R,1979-06-22,True,117,movie,"Dan O'Bannon (story), Ronald Shusett (story), ..."
20,2811,The Kid,https://images-na.ssl-images-amazon.com/images...,"The Tramp cares for an abandoned child, but ev...","Comedy, Drama, Family",1921,8.3,2016-11-13 22:22:15.429819+00:00,tt0012349,1 win.,...,Charles Chaplin,2500000.0,68817,English,NOT RATED,1921-02-06,True,68,movie,Charles Chaplin
21,2814,Jurassic Park,https://images-na.ssl-images-amazon.com/images...,"During a preview tour, a theme park suffers a ...","Adventure, Sci-Fi, Thriller",1993,8.1,2016-11-13 22:22:15.430830+00:00,tt0107290,Won 3 Oscars. Another 28 wins & 17 nominations.,...,Steven Spielberg,356784000.0,627863,"English, Spanish",PG-13,1993-06-11,True,127,movie,"Michael Crichton (novel), Michael Crichton (sc..."
22,2817,The Great Dictator,https://images-na.ssl-images-amazon.com/images...,Dictator Adenoid Hynkel tries to expand his em...,"Comedy, Drama, War",1940,8.5,2016-11-13 22:22:15.431809+00:00,tt0032553,Nominated for 5 Oscars. Another 5 wins & 1 nom...,...,Charles Chaplin,NaN,140070,"English, Esperanto",APPROVED,1941-03-07,True,125,movie,Charles Chaplin
23,2827,Catch Me If You Can,https://images-na.ssl-images-amazon.com/images...,"The true story of Frank Abagnale Jr. who, befo...","Biography, Crime, Drama",2002,8.0,2016-11-13 22:22:15.434388+00:00,tt0264464,Nominated for 2 Oscars. Another 11 wins & 39 n...,...,Steven Spielberg,164435221.0,538606,"English, French",PG-13,2002-12-25,True,141,movie,"Jeff Nathanson (screenplay), Frank Abagnale Jr..."
24,2829,Mr. Smith Goes to Washington,https://images-na.ssl-images-amazon.com/images...,A naive man is appointed to fill a vacancy in ...,"Comedy, Drama",1939,8.2,2016-11-13 22:22:15.434860+00:00,tt0031679,Won 1 Oscar. Another 4 wins & 11 nominations.,...,Frank Capra,NaN,78231,English,NOT RATED,1939-10-19,True,129,movie,"Sidney Buchman (screen play), Lewis R. Foster ..."
25,2833,The Martian,https://images-na.ssl-images-amazon.com/images...,An astronaut becomes stranded on Mars after hi...,"Adventure, Drama, Sci-Fi",2015,8.0,2016-11-13 22:22:15.435865+00:00,tt3659388,Nominated for 7 Oscars. Another 33 wins & 172 ...,...,Ridley Scott,228430993.0,506335,"English, Mandarin",PG-13,2015-10-02,True,144,movie,"Drew Goddard (screenplay), Andy Weir (book)"
26,2851,Platoon,https://images-na.ssl-images-amazon.com/images...,A young recruit in Vietnam faces a moral crisi...,"Drama, War",1986,8.1,2016-11-13 22:22:15.440389+00:00,tt0091763,Won 4 Oscars. Another 19 wins & 14 nominations.,...,Oliver Stone,137963328.0,294733,"English, Vietnamese",R,1987-02-06,True,120,movie,Oliver Stone
27,2853,The Sixth Sense,https://images-na.ssl-images-amazon.com/images...,A boy who communicates with spirits that don't...,"Drama, Mystery, Thriller",1999,8.1,2016-11-13 22:22:15.440879+00:00,tt0167404,Nominated for 6 Oscars. Another 32 wins & 47 n...,...,M. Night Shyamalan,293501675.0,715562,"English, Latin, Spanish",PG-13,1999-08-06,True,107,movie,M. Night Shyamalan
28,2855,Aliens,https://images-na.ssl-images-amazon.com/images...,"The moon from Alien (1979) has been colonized,...","Action, Adventure, Sci-Fi",1986,8.4,2016-11-13 22:22:15.441353+00:00,tt0090605,Won 2 Oscars. Another 17 wins & 22 nominations.,...,James Cameron,85200000.0,496655,English,R,1986-07-18,True,137,movie,"James Cameron (story), David Giler (story), Wa..."
29,2861,The Secret in Their Eyes,https://images-na.ssl-images-amazon.com/images...,A retired legal counselor writes a novel hopin...,"Drama, Mystery, Thriller",2009,8.2,2016-11-13 22:22:15.442846+00:00,tt1305806,Won 1 Oscar. Another 51 wins & 39 nominations.,...,Juan José Campanella,20167424.0,135037,Spanish,R,2010-05-21,True,129,movie,"Eduardo Sacheri, Juan José Campanella, Eduardo..."
30,2862,Blade Runner,https://images-na.ssl-images-amazon.com/images...,A blade runner must pursue and try to terminat...,"Sci-Fi, Thriller",1982,8.2,2016-11-13 22:22:15.443180+00:00,tt0083658,Nominated for 2 Oscars. Another 11 wins & 16 n...,...,Ridley Scott,27000000.0,467167,"English, German, Cantonese, Japanese, Hungarian",R,1982-06-25,True,117,movie,"Hampton Fancher (screenplay), David Webb Peopl..."
31,2866,The Godfather,https://images-na.ssl-images-amazon.com/images...,The aging patriarch of an organized crime dyna...,"Crime, Drama",1972,9.2,2016-11-13 22:22:15.444258+00:00,tt0068646,Won 3 Oscars. Another 23 wins & 27 nominations.,...,Francis Ford Coppola,134821952.0,1177812,"English, Italian, Latin",R,1972-03-24,True,175,movie,"Mario Puzo (screenplay), Francis Ford Coppola ..."
32,2876,Wild Tales,https://images-na.ssl-images-amazon.com/images...,Six short stories that explore the extremities...,"Comedy, Drama, Thriller",2014,8.1,2016-11-13 22:22:15.446774+00:00,tt3011894,Nominated for 1 Oscar. Another 44 wins & 52 no...,...,Damián Szifrón,3079012.0,95454,Spanish,R,2014-08-21,True,122,movie,Damián Szifrón
33,2879,It's a Wonderful Life,https://images-na.ssl-images-amazon.com/images...,An angel helps a compassionate but despairingl...,"Drama, Family, Fantasy",1946,8.6,2016-11-13 22:22:15.447560+00:00,tt0038650,Nominated for 5 Oscars. Another 6 wins & 1 nom...,...,Frank Capra,NaN,279316,English,PG,1947-01-07,True,130,movie,"Frances Goodrich (screenplay), Albert Hackett ..."
34,2881,Casablanca,https://images-na.ssl-images-amazon.com/images...,"In Casablanca, Morocco in December 1941, a cyn...","Drama, Romance, War",1942,8.6,2016-11-13 22:22:15.448040+00:00,tt0034583,Won 3 Oscars. Another 4 wins & 8 nominations.,...,Michael Curtiz,NaN,392074,"English, French, German, Italian",PG,1943-01-23,True,102,movie,"Julius J. Epstein (screenplay), Philip G. Epst..."
35,2888,Apocalypse Now,https://images-na.ssl-images-amazon.com/images...,"During the Vietnam War, Captain Willard is sen...","Drama, War",1979,8.5,2016-11-13 22:22:15.449895+00:00,tt0078788,Won 2 Oscars. Another 18 wins & 32 nominations.,...,Francis Ford Coppola,78800000.0,456235,"English, French, Vietnamese",R,1979-08-15,True,153,movie,"John Milius, Francis Ford Coppola, Michael Her..."
36,2893,Indiana Jones and the Last Crusade,https://images-na.ssl-images-amazon.com/images...,When Dr. Henry Jones Sr. suddenly goes missing...,"Action, Adventure, Fantasy",1989,8.3,2016-11-13 22:22:15.451182+00:00,tt0097576,Won 1 Oscar. Another 6 wins & 20 nominations.,...,Steven Spielberg,197171806.0,522489,"English, German, Greek, Arabic",PG-13,1989-05-24,True,127,movie,"Jeffrey Boam (screenplay), George Lucas (story..."
37,2907,The Thing,https://images-na.ssl-images-amazon.com/images...,It's the first week of winter in 1982. An Amer...,"Horror, Mystery, Sci-Fi",1982,8.2,2016-11-13 22:22:15.456187+00:00,tt0084787,3 nominations.,...,John Carpenter,13782838.0,264307,"English, Norwegian",R,1982-06-25,True,109,movie,"Bill Lancaster (screenplay), John W. Campbell ..."
38,2920,The Deer Hunter,https://images-na.ssl-images-amazon.com/images...,An in-depth examination of the ways in which t...,"Drama, War",1978,8.2,2016-11-13 22:22:15.459388+00:00,tt0077416,Won 5 Oscars. Another 17 wins & 26 nominations.,...,Michael Cimino,NaN,235569,"English, Russian, Vietnamese, French",R,1979-02-23,True,183,movie,"Michael Cimino (story), Deric Washburn (story)..."
39,2921,WALL·E,https://images-na.ssl-images-amazon.com/images...,"In the distant future, a small waste-collectin...","Animation, Adventure, Family",2008,8.4,2016-11-13 22:22:15.459650+00:00,tt0910970,Won 1 Oscar. Another 86 wins & 85 nominations.,...,Andrew Stanton,223806889.0,735150,English,G,2008-06-27,True,98,movie,"Andrew Stanton (original story by), Pete Docte..."
40,2922,Modern Times,https://images-na.ssl-images-amazon.com/images...,The Tramp struggles to live in modern industri...,"Comedy, Drama, Family",1936,8.6,2016-11-13 22:22:15.459916+00:00,tt0027977,4 wins & 1 nomination.,...,Charles Chaplin,163245.0,147025,English,G,1936-02-25,True,87,movie,Charles Chaplin
41,2926,Goodfellas,https://images-na.ssl-images-amazon.com/images...,Henry Hill and his friends work their way up t...,"Biography, Crime, Drama",1990,8.7,2016-11-13 22:22:15.461052+00:00,tt0099685,Won 1 Oscar. Another 37 wins & 32 nominations.,...,Martin Scorsese,46836394.0,738291,"English, Italian",R,1990-09-21,True,146,movie,"Nicholas Pileggi (book), Nicholas Pileggi (scr..."
42,2929,Casino,https://images-na.ssl-images-amazon.com/images...,"Greed, deception, money, power, and murder occ...","Biography, Crime, Drama",1995,8.2,2016-11-13 22:22:15.461856+00:00,tt0112641,Nominated for 1 Oscar. Another 3 wins & 9 nomi...,...,Martin Scorsese,42438300.0,339327,English,R,1995-11-22,True,178,movie,"Nicholas Pileggi (book), Nicholas Pileggi (scr..."
43,2934,Bicycle Thieves,https://images-na.ssl-images-amazon.com/images...,"Set in Post-WWII Italy, a working class man's ...",Drama,1948,8.3,2016-11-13 22:22:15.463235+00:00,tt0040522,Nominated for 1 Oscar. Another 18 wins.,...,Vittorio De Sica,332930.0,96195,Italian,NOT RATED,1949-12-13,True,89,movie,"Cesare Zavattini (story), Luigi Bartolini (nov..."
44,2935,The Godfather: Part II,https://images-na.ssl-images-amazon.com/images...,The early life and career of Vito Corleone in ...,"Crime, Drama",1974,9.0,2016-11-13 22:22:15.463769+00:00,tt0071562,Won 6 Oscars. Another 10 wins & 20 nominations.,...,Francis Ford Coppola,57300000.0,807734,"English, Italian, Spanish, Latin, Sicilian",R,1974-12-20,True,202,movie,"Francis Ford Coppola (screenplay), Mario Puzo ..."
45,2946,Jaws,https://images-na.ssl-images-amazon.com/images...,When a gigantic great white shark begins to me...,"Adventure, Drama, Thriller",1975,8.0,2016-11-13 22:22:15.467739+00:00,tt0073195,Won 3 Oscars. Another 10 wins & 16 nominations.,...,Steven Spielberg,260000000.0,421114,English,PG,1975-06-20,True,124,movie,"Peter Benchley (screenplay), Carl Gottlieb (sc..."
46,2956,Terminator 2: Judgment Day,https://images-na.ssl-images-amazon.com/images...,"A cyborg, identical to the one who failed to k...","Action, Sci-Fi, Thriller",1991,8.5,2016-11-13 22:22:15.470105+00:00,tt0103064,Won 4 Oscars. Another 21 wins & 22 nominations.,...,James Cameron,204843350.0,754399,"English, Spanish",R,1991-07-03,True,137,movie,"James Cameron, William Wisher Jr."
47,2963,Saving Private Ryan,https://images-na.ssl-images-amazon.com/images...,"Following the Normandy Landings, a group of U....","Action, Drama, War",1998,8.6,2016-11-13 22:22:15.472043+00:00,tt0120815,Won 5 Oscars. Another 74 wins & 74 nominations.,...,Steven Spielberg,216119491.0,897416,"English, French, German, Czech",R,1998-07-24,True,169,movie,Robert Rodat
48,2969,Taxi Driver,https://images-na.ssl-images-amazon.com/images...,A mentally unstable Vietnam War veteran works ...,"Crime, Drama",1976,8.3,2016-11-13 22:22:15.473865+00:00,tt0075314,Nominated for 4 Oscars. Another 21 wins & 15 n...,...,Martin Scorsese,NaN,515479,"English, Spanish",R,1976-02-08,True,113,movie,Paul Schrader

## Difficulty => 3

### Print out the gross of each director's highest grossing movie. Filter nan.

In [12]:
pd.read_sql("SELECT director, max(gross) FROM website_imdb WHERE gross <> 'NaN' "
            " group by director;", engine)[:3]

       director         max
0     Tony Kaye   6712241.0
1  Bryan Singer  23272306.0
2  Tom McCarthy  44988180.0

### Print out the gross of each director's highest grossing movie. Order by gross desc. Filter nan.

In [11]:
pd.read_sql("SELECT director, max(gross) FROM website_imdb WHERE gross <> 'NaN' "
            " GROUP BY director ORDER BY max(gross) desc;", engine)[:3]

            director          max
0        J.J. Abrams  936627416.0
1  Christopher Nolan  533316061.0
2       George Lucas  460935665.0

## Difficulty => 5

### Print out the movie title, gross, and director of each director's highest grossing movie. Order by gross desc. Filter nan.

In [14]:
pd.read_sql("SELECT title, director, max(gross) FROM website_imdb WHERE gross <> 'NaN' GROUP BY title, director ORDER BY max(gross) DESC", engine)[:5]

                                title                   director          max
0        Star Wars: The Force Awakens                J.J. Abrams  936627416.0
1                     The Dark Knight          Christopher Nolan  533316061.0
2  Star Wars: Episode IV - A New Hope               George Lucas  460935665.0
3               The Dark Knight Rises          Christopher Nolan  448130642.0
4                       The Lion King  Roger Allers, Rob Minkoff  422783777.0

### Print out the movie title, rating, and director of each director's highest rated movie if that director has directed more than one movie. Order by rating desc. Filter nan.

In [15]:
pd.read_sql('SELECT  db1.title, db1."imdbRating",db1.director FROM website_imdb db1, '
            '(select director, max("imdbRating") as max_imdbrating from website_imdb '
            ' WHERE "imdbRating" <> \'NaN\' GROUP BY director HAVING count(director) > 1) AS db2 '
            ' WHERE db1.director = db2.director and max_imdbrating = db1."imdbRating"'
            'ORDER BY db1."imdbRating" DESC' 
            '', engine)[:5]

                            title  imdbRating              director
0        The Shawshank Redemption         9.3        Frank Darabont
1                   The Godfather         9.2  Francis Ford Coppola
2                 The Dark Knight         9.0     Christopher Nolan
3                    12 Angry Men         8.9          Sidney Lumet
4  The Good, the Bad and the Ugly         8.9          Sergio Leone

## Difficuty => 7

### Print out the released date, title, and the season (winter, spring, summer, fall) in which each movie was released. Let's assume for simplicity sake that seasons end at the end of each month instead of on the 21st.

In [21]:
pd.read_sql('SELECT released, title, '
                '( CASE '
                '  WHEN substring(released,6,2) in (\'12\', \'01\',\'02\') THEN \'winter\' '
                '  WHEN substring(released,6,2) in (\'03\', \'04\',\'05\') THEN \'spring\' '    
                '  WHEN substring(released,6,2) in (\'06\', \'07\',\'08\') THEN \'summer\' '
                '  WHEN substring(released,6,2) in (\'09\', \'10\',\'11\') THEN \'fall\' ' 
                '  ELSE NULL'
                '  END) AS season ' 
            'FROM website_imdb '
    '', engine)[:3]

     released              title  season
0  1996-02-23           La Haine  winter
1  1998-01-09  Good Will Hunting  winter
2  2014-10-15           Whiplash    fall

### Print out the released date, title, and the relation to today's date (disregard year). If the movie came out before today's month, print 'before' in the relationship column. If the movie came out after todays month, print out 'after' in the relationship column. If the movie was released in the same month, but not the same day, print out 'close'. If the movie came out on today's day and month print 'match'

In [23]:
pd.read_sql('SELECT released, title, '
             '( CASE '
 '  WHEN EXTRACT(MONTH FROM to_date(released,\'YYYY-MM-DD\')) > EXTRACT(MONTH FROM current_date) THEN \'after\' '
 '  WHEN EXTRACT(MONTH FROM to_date(released,\'YYYY-MM-DD\')) < EXTRACT(MONTH FROM current_date) THEN \'before\' '
 '  WHEN (EXTRACT(MONTH FROM to_date(released,\'YYYY-MM-DD\')) = EXTRACT(MONTH FROM current_date)) '
 '  AND (EXTRACT(DAY FROM to_date(released,\'YYYY-MM-DD\')) <> EXTRACT(DAY FROM current_date)) THEN \'close\' ' 
 '  WHEN (EXTRACT(MONTH FROM to_date(released,\'YYYY-MM-DD\')) = EXTRACT(MONTH FROM current_date)) '
 '  AND (EXTRACT(DAY FROM to_date(released,\'YYYY-MM-DD\')) = EXTRACT(DAY FROM current_date)) THEN \'match\' ' 
            '  ELSE NULL'
                '  END) AS relationship ' 
            'FROM website_imdb where released <> \'nan\' '
    '', engine)[:5]

     released                    title relationship
0  1996-02-23                 La Haine       before
1  1998-01-09        Good Will Hunting       before
2  2014-10-15                 Whiplash       before
3  1956-11-19            Seven Samurai       before
4  1981-06-12  Raiders of the Lost Ark       before

## Difficulty => 9

### There is another table in my database called 'trump_tweets'. Print out all the times Trump has sent a tweet with a movie title in the text. The movie title must have a length greater than 1.

In [33]:
pd.read_sql('SELECT tweet.text, imdb.title FROM trump_tweets tweet '
            ' JOIN website_imdb imdb ON lower(tweet.text) LIKE \'%%\'||lower(imdb.title)||\'%%\' ' 
            'WHERE length(imdb.title) > 1 ', engine )[:10]

                                                text        title
0  Another new poll. Thank you for your support! ...           Up
1  Great poll- Florida! Thank you! https://t.co/4...           Up
2  "@AshleyEdam: New CBS Poll shows defections fr...           Up
3  WOW, great new poll- New York! Thank you for y...           Up
4  Don't believe the @FoxNews Polls, they are jus...  The General
5  "@cmichaeld2004: Realistic Trump Poll Numbers ...          Ran
6  Why would anyone in Kentucky listen to failed ...          Ran
7  .@CNN poll just hit 49% for Trump. Interesting...           Up
8  The polls show that I picked up many Jeb Bush ...           Up
9  The just out USA Today National Poll, where I ...           Up

### Print out a movie if it is included in the following groups:
* Has the longest runtime
* Is created by the director who has the most imdbvotes
* Has been translated into more than 4 languages
* Has won 2 Oscars

In [37]:
# print 'Longest runtime : '
# pd.read_sql('SELECT title, runtime FROM website_imdb WHERE runtime = (SELECT max(runtime) FROM website_imdb)', engine)

Longest runtime :

                title  runtime
0  Gangs of Wasseypur      320

In [41]:
# print 'Title with the most IMDB votes by director: '
# pd.read_sql('SELECT title FROM website_imdb WHERE director IN ' 
#             '(SELECT director FROM website_imdb GROUP BY director ORDER BY SUM("imdbVotes") DESC limit 1)'
#             '', engine)

Title with the most IMDB votes by director:

                   title
0        The Dark Knight
1           The Prestige
2          Batman Begins
3  The Dark Knight Rises
4           Interstellar
5              Inception
6                Memento

In [ ]:
#pd.read_sql('select title, language from website_imdb '
#            ' WHERE (length(language) - length(replace(language,\',\',\'\'))) > 3 ', engine)

In [44]:
#pd.read_sql('SELECT title, language FROM website_imdb', engine)[:10]

,title,language
0,La Haine,French
1,Good Will Hunting,English
2,Whiplash,English
3,Seven Samurai,Japanese
4,Raiders of the Lost Ark,"English, German, Hebrew, Spanish, Arabic, Nepali"
5,The Bridge on the River Kwai,"English, Japanese, Thai"
6,Like Stars on Earth,"Hindi, English"
7,The Revenant,"English, Pawnee, French"
8,Infernal Affairs,"Cantonese, English, Thai"
9,The Wages of Fear,"French, English, Spanish, German, Italian, Rus..."

In [ ]:
#print "title has been available in 4 or more languages: "
#pd.read_sql('SELECT title, language FROM website_imdb '
#            'WHERE (length(language) - )
#            SELECT lanuage FROM website_imdb')

In [48]:
#pd.read_sql("SELECT title FROM website_imdb WHERE awards LIKE '%%2 Oscars%%';", engine)
#pd.read_sql("SELECT title FROM website_imdb WHERE awards LIKE '%%Oscars%%';", engine)

In [50]:
pd.read_sql("SELECT title FROM website_imdb WHERE runtime = (SELECT max(runtime) FROM website_imdb)"
            ' OR director IN (SELECT director FROM website_imdb GROUP BY director ORDER BY sum("imdbVotes") DESC limit 1) '
            " OR (length(language) - length(replace(language,\',\',\'\'))) > 3 OR awards LIKE '%%Oscars%%';", engine)[:5]

                          title
0             Good Will Hunting
1                      Whiplash
2                 Seven Samurai
3       Raiders of the Lost Ark
4  The Bridge on the River Kwai

### Make sure each movie is printed out at most one time!

## Good job on completing this assignment! You should now be ready for any SQL-based problem thrown at you in the future!

#### If you haven't finished the assignment, scroll back up. This message isn't for you.